.avi-wrap {
    width: 60%;
    height: 920px;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 19px 38px rgba(99, 98, 98, 0.1),
    0 15px 12px rgba(99, 98, 98, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 30px;
}
#avi-box .border-top {
    height: 8px;
    background-color: #b0b0b0;
}
#url {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}
#main-url {
    width: 98%;
    height: 780px;
    margin: 3% 0 0 0;
}
#contents {
    padding: 0 3%;
}
#contents .avi-title {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}
#contents p {
    width: 70%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
    padding-left: 4px;
}
.list-card {
    margin: 0 auto;
    width: 90%;
    height: 260px;
    background-color: white;
    border: 1px solid #b0b0b0;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    margin-bottom: 3.5%;
    position: relative;
}
.list-card a {
    width: 100%;
    color: black;
    display: flex;
    position: absolute;
    top: 2%;
}
.list-card embed {
    width: 43%;
    height: 215px;
    margin-left: 5%;
}
.contents-box {
    margin-left: 15px;
} 
#avi-box {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    width: 100%;
    margin: 0 auto;
}
#avi-list {
    margin: 0 auto 10px auto;
    width: 40%;
    height: 920px;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: 0 19px 38px rgba(99, 98, 98, 0.1),
    0 15px 12px rgba(99, 98, 98, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#scroll-box::-webkit-scrollbar {
    width: 8px;
    margin-left: 15px;
}
#scroll-box::-webkit-scrollbar-track {
    background-color: transparent;
}
#scroll-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(149, 149, 149);
}
#scroll-box::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
#scroll-box {
    width: 100%;
    height: 890px;
    overflow-y: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
span {
    display: block;
}
#list-box {
    margin: 6% auto 3% auto;
    padding: 0 5px 0 16px;
}
.list-card .title {
    width: 205px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 4px;
    margin: 25px 0;
}
.list-card .content {
    width: 180px;
    font-size: 15px;
}

#contents > div {
    position: relative;
}
.list-card:hover {
    border: 2px solid #979797;
    cursor: pointer;
    transform: scale(1.02);
}
.list-card a:hover {
    cursor: pointer;
}
.list-card.highlight {
    background-color: #ddd;
}
#heart {
    border-style: none;
    background-color: transparent;
    font-size: 35px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
}