span {
    display: block;
    text-align: left;
    width: 80%;
    margin: 0 auto 6px auto;
}
.data-wrap {
    width: 100%;
}
.data-wrap .wrap {
    width: 100%;
    height: auto; 
    min-height: 100px; 
    display: flex;
    flex-wrap: wrap;
}
.data-wrap .wrap .card {
    width: 22.8%;
    margin: 0 1%;
    /* height: 86.1%; */
    height: 501px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    transition: ease-in-out 0.5s;
    font-size: 0;
    margin-bottom: 50px;
    border: 1px solid whitesmoke;
    box-shadow: 0 19px 38px rgba(99, 98, 98, 0.1),
    0 15px 12px rgba(99, 98, 98, 0.1);
    overflow: visible;
}
.data-btn>button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.data-btn p{
    font-weight: bold;
    color: #787878;
    text-shadow: 2px 2px 2px 2px; 
}
.data-btn{
    position: sticky;
    float: right;
    bottom: 20px;
}
.data-wrap h3{
    color: #686461;
}